*{
    font-family: 'Rubik', sans-serif !important;
}
::selection {
    color: #fff !important;
    background: #725BC2 !important;
}
.primezze-card{
    padding: 50px 60px !important;
    margin: 40px 0 !important;
    background: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.1) !important;
    border-radius: 10px !important;
}
.primezze-header{
    margin: auto !important;
    text-align: center !important;
    margin-bottom: 35px !important;
}
.primezze-header h1{
    font-size: 30px !important;
    font-weight: 400 !important;
    color: #333;
}
.primezze-header p{
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #999;
}
.primezze-label{
    font-size: 15px !important;
    color: #333 !important;
    font-weight: 400 !important;
    margin-bottom: 7px !important;
}
.primezze-input{
    display: block !important;
    width: 100% !important;
    font-size: 15px !important;
    border: 1px solid #b3b3b3 !important;
    margin: 0 !important;
    transition: border-color .2s !important;
    border-radius: 4px !important;
    color: #444 !important;
}
.primezze-input:focus{
    border-color: #725bc2 !important;
    box-shadow: inset 0 0 0 1px #725bc2 !important;
}
.primezze-input::placeholder{
    color: #CFCFCF !important;
}
.primezze-btn{
    color: #fff !important;
    background-color: #725bc2 !important;
    font-weight: 700 !important;
    padding: 9px 25px !important;
    font-size: 13px !important;
    line-height: 15px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-transform: none !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    letter-spacing: 0 !important;
    box-shadow: none !important;
}
.primezze-btn:hover{
    background-color: #8369DF !important;
}
.primezze-btn2{
    color: #666 !important;
    background-color: #fff !important;
    border: 1px solid #b3b3b3 !important;
    padding: 9px 25px !important;
    font-size: 13px !important;
    line-height: 15px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-transform: none !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    box-shadow: none !important;
}
.primezze-btn2:hover{
    background-color: #F4F6F8 !important;
}
.primezze-b{
    font-weight: 600 !important;
}
.primezze-nav{
    color: #fff !important;
    font-weight: 600 !important;
    border-bottom: 2.5px #8369DF solid !important;
    letter-spacing: 0.5px !important;
}
.primezze-nav:hover{
    border-bottom: 5px #8369DF solid !important;
}
.f14-666{
    font-size: 14px !important;
    color: #666 !important;
}
.yampay-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 10px;
}

.yampay-scroll::-webkit-scrollbar
{
	width: 10px;
    height: 10px !important;
	background-color: #F5F5F5;
}

.yampay-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #725BC2;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
.modal-input-cat{
    font-size: 15px;
    border: 1px solid #b3b3b3 !important;
    margin: 0;
    border-radius: 4px !important;
    color: #333 !important;
    -webkit-appearance: none;
    cursor: pointer !important;
}
.modal-input-cat:focus{
    font-size: 15px;
    border: 1px solid #b3b3b3 !important;
    margin: 0;
    border-radius: 4px !important;
    color: #333 !important;
    -webkit-appearance: none;
}
.modal-input-cat:focus{
    border-color: #725bc2 !important;
    box-shadow: inset 0 0 0 1px #725bc2 !important;
}
.create-account{
    color: #725BC2;
    font-weight: 500;
}
.create-account:hover{
    text-decoration: underline;
}